<div class="container" style="padding:50px 0;">
    <div class="row">
        <aside class="sidebar col-sm-4 col-md-3">
            <ul class="nav nav-pills nav-stacked">
                <li>
                    <a href="#/shop/account/">Profile</a>
                </li>
                <li>
                    <a href="#/shop/account/orders">Order History</a>
                </li>
                <li>
                    <a href="#/shop/account/address">Address Book</a>
                </li>
                <!--<li>
                    <a href="#/shop/account/emails">Email History</a>
                </li>
                <li>
                    <a href="#/shop/account/alerts">Product Alerts</a>
                </li>-->
                <li>
                    <a href="#/shop/account/notifications">Notifications</a>
                </li>
                <li>
                    <a href="#/shop/account/wishlist">Wish Lists</a>
                </li>
            </ul>
        </aside>

        <div class="col-sm-8 col-md-9">
            <div ui-view></div>
        </div>
    </div>
</div>