<div class="container">
    <header class="page-header">
        <h1 class="page-title">My Shopping Bag</h1>
    </header>
    <div ng-if="vm.cart.length > 0" class="row">
        <div class="col-md-10">
            <form id="checkout" method="POST">

            </form>
            <table class="table table table-shopping-cart">
                <thead>
                <tr>
                    <th>Product</th>
                    <th>Title</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Total</th>
                    <th>Remove</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="product in vm.cart">
                    <td class="table-shopping-cart-img">
                        <a href="#">
                            <img src="{{ product.product.thumb_url }}" alt="{{ product.product.title }}"
                                 title="{{ product.product.title }}"/>
                        </a>
                    </td>
                    <td class="table-shopping-cart-title"><a
                            ui-sref="shop.productDetail({id: product.product.product_id})" href="">{{
                        product.product.title }}</a>
                    </td>
                    <td>{{ product.product.unit_selling_cost | currency:"PHP" }}</td>
                    <td>
                        <input class="form-control table-shopping-qty" type="text" value="{{ product.qty }}"/>
                    </td>
                    <td>{{ product.qty * product.product.unit_selling_cost | currency:"PHP" }}</td>
                    <td>
                        <a ng-click="vm.removeCartItem(product)" class="fa fa-close table-shopping-remove" href=""></a>
                    </td>
                </tr>
                </tbody>
            </table>
            <div class="gap gap-small"></div>

        </div>
        <div class="col-md-2">
            <!--<form id="broadcast" method="POST">-->
            <!--<input type="text" name="broadcast_data" id="broadcast_data" placeholder="Message" <single-product>-->
            <!--<input type="submit" value="Broadcast">-->
            <!--</form>-->
            <ul class="shopping-cart-total-list">
                <li><span>Total</span><span>${{ vm.cartDetails.total }}</span>
                </li>
            </ul>
            <a class="btn btn-primary" ui-sref="shop.checkout" href="">Checkout</a>
        </div>
    </div>
    <p ng-show="vm.cart.length == 0">Oops. No item in cart.</p>
    <ul class="list-inline">
        <li><a class="btn btn-default" href="" ui-sref="shop.catalogue">Continue Shopping</a>
        </li>
    </ul>
</div>
<div class="gap"></div>
<div class="gap"></div>
<div class="gap"></div>
<div class="gap"></div>
<div class="gap"></div>
<div class="gap"></div>
<div class="gap"></div>
<div class="gap"></div>
<div class="gap"></div>
<div class="gap"></div>
<div class="gap"></div>