<div class="container">
    <header class="page-header">
        <h1 class="page-title">Catalogue</h1>
        <ol class="breadcrumb page-breadcrumb">
        <li><a href="#">Home</a>
        </li>
        <li><a href="#">Catalogue</a>
        </li>
        <!--<li class="active">Woman</li>-->
        </ol>
    </header>
    <div class="row">
        <div class="col-md-3">
            <aside class="category-filters">
                <div class="category-filters-section">
                    <h3 class="widget-title-sm">Category</h3>
                    <ul class="cateogry-filters-list">
                        <li ng-repeat="category in vm.categories"><a
                                ui-sref="shop.category(category.product_category_id)">{{ category.name }}</a>
                        </li>
                    </ul>
                </div>
            </aside>
        </div>
        <div class="col-md-9">
            <div class="row row-sm-gap" data-gutter="10">
                <div class="col-md-4" data-toggle="tab" ng-repeat="product in vm.products">
                    <single-product></single-product>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="gap"></div>
<div class="gap"></div>
<div class="gap"></div>
<div class="gap"></div>
<div class="gap"></div>
<div class="gap"></div>
<div class="gap"></div>
<div class="gap"></div>
<div class="gap"></div>
<div class="gap"></div>
<div class="gap"></div>