<div class="container">
    <header class="page-header">
        <h1 class="page-title">Checkout Order</h1>
    </header>
    <p class="checkout-login-text">We only accept payments via paypal as of the moment. </p>
    <div class="row row-col-gap" data-gutter="60">
        <div class="col-md-4">
            <h3 class="widget-title">Order Info</h3>
            <div class="box">
                <table class="table">
                    <thead>
                    <tr>
                        <th>Product</th>
                        <th>QTY</th>
                        <th>Price</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="product in vm.cart">
                        <td>{{product.product.title}}</td>
                        <td>{{product.qty}}</td>
                        <td>{{product.qty * product.product.unit_selling_cost | currency: "PHP"}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-md-4">
            <h3 class="widget-title">Billing Details</h3>
            <form>
                <div class="form-group">
                    <label>First &amp; Last Name</label>
                    <input class="form-control" type="text"/>
                </div>
                <div class="form-group">
                    <label>E-mail</label>
                    <input class="form-control" type="text"/>
                </div>
                <div class="form-group">
                    <label>Phone Number</label>
                    <input class="form-control" type="text"/>
                </div>
                <div class="form-group">
                    <label>Country</label>
                    <input class="form-control" type="text"/>
                </div>
                <div class="row">
                    <div class="col-md-8">
                        <div class="form-group">
                            <label>City</label>
                            <input class="form-control" type="text"/>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Zip/Postal</label>
                            <input class="form-control" type="text"/>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label>Address</label>
                    <input class="form-control" type="text"/>
                </div>
                <div id="shipping-address" class="hide">
                    <div class="form-group">
                        <label>Shipping Country</label>
                        <input class="form-control" type="text"/>
                    </div>
                    <div class="row">
                        <div class="col-md-8">
                            <div class="form-group">
                                <label>Shipping City</label>
                                <input class="form-control" type="text"/>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Zip/Postal</label>
                                <input class="form-control" type="text"/>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Shipping Address</label>
                        <input class="form-control" type="text"/>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-4">
            <h3 class="widget-title">Payment</h3>
            <div class="gap gap-small"></div>
            <img src="static/img/paypal.png" alt="Image Alternative text" title="Image Title"/>
            <p>Important: You will be redirected to PayPal's website to securely complete your payment.</p><a
                class="btn btn-primary">Pay With Paypal</a>
        </div>
    </div>
</div>