<div owl-carousel='{"items":1,"loop":true}' class="owl-loaded owl-nav-dots-inner">
    <div class="owl-item" ng-repeat="promotion in vm.promotions">
        <!-- Slider Slide / Promotion Banner Template -->
        <div class="slider-item" style="background-image:url(static/img/backgrounds/banner.jpg);">
            <div class="container">
                <div class="slider-item-inner">
                    <div class="slider-item-caption-left slider-item-caption-white">
                        <h4 class="slider-item-caption-title">{{ promotion.title }}</h4>
                        <p class="slider-item-caption-desc">{{ promotion.description }}</p><a
                            class="btn btn-lg btn-ghost btn-white"
                            href="{{ promotion.btn_link }}">{{ promotion.btn_text }}</a>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<div class="gap"></div>
<div class="container">
    <div class="row">
        <div class="col-md-4" ng-repeat="product in vm.products">
            <single-product></single-product>
            <br>
        </div>
    </div>

    <!--<div class="category-tabs">-->
        <!--<ul class="nav nav-pills" id="myTab">-->
            <!--<li ng-repeat="category in vm.categories track by $index"><a href="#tab-{{$index}}" data-toggle="tab">{{category.name}}</a>-->
            <!--</li>-->
        <!--</ul>-->
        <!--<div class="tab-content">-->
            <!--<div class="tab-pane fade in active" ng-repeat="category in vm.categories track by $index"-->
                 <!--id="tab-{{$index}}">-->

            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
</div>
<div class="gap"></div>