<div class="container" style="padding: 50px 0;">
    <div class="row">
        <div class="col-md-6">
            <img src="static/img/backgrounds/banner.jpg" width="100%" alt="">
        </div>
        <div class="col-md-6">
            <h3>Member Login</h3>
            <p>Welcome back, friend. Login to get started</p>
            <hr />
            <form class="form">
                <div class="form-group">
                    <label>Email or Username</label>
                    <input class="form-control" type="text" />
                </div>
                <div class="form-group">
                    <label>Password</label>
                    <input class="form-control" type="text" />
                </div>
                <input class="btn btn-success" type="submit" value="Sign In" />
            </form>
            <div class="gap gap-small"></div>
            <ul class="list-inline">
                <li>
                    <a href="" ui-sref="shop.register" class="popup-text">Not Member Yet</a>
                </li>
                <li><a href="#/shop/password/reset" class="popup-text">Forgot Password?</a>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="gap"></div>
<div class="gap"></div>
<div class="gap"></div>












<!-- <style media="screen">
  body {
    background: white !important;
  }
</style>

<toaster-container></toaster-container>

<div class="middle-box text-center loginscreen  animated fadeInDown">

    <div>
        <h3>Welcome to AgriSenso!</h3>
        <p>Login to manage your store
        </p>
        <form class="m-t" role="form" ng-submit="vm.login()">
            <div class="form-group">
                <input ng-model="vm.loginForm.username" type="text" class="form-control" placeholder="Username" required="">
            </div>
            <div class="form-group">
                <input ng-model="vm.loginForm.password" type="password" class="form-control" placeholder="Password" required="">
            </div>
            <button type="submit" class="btn btn-primary block full-width m-b">Login</button>
        </form>
        <p class="m-t"> <small>Don't miss out! <a href="" ui-sref="register">Create an account</a> today.<small> </p>
    </div>
</div>

 -->

