<div class="container">
    <header class="page-header">
        <ol class="breadcrumb page-breadcrumb">
            <!--<li><a href="#">Home</a>-->
            <!--</li>-->
            <!--<li><a href="#">Clothing, Shoes & Accessories</a>-->
            <!--</li>-->
            <!--<li><a href="#">Women's Handbags & Bags</a>-->
            <!--</li>-->
            <!--<li class="active">Vera Bradley Round Travel Bag</li>-->
        </ol>
    </header>
    <div class="row">
        <div class="col-md-6">
            <div class="product-page-product-wrap jqzoom-stage jqzoom-stage-lg">
                <div class="clearfix">
                    <a href="{{vm.selected.thumb_url}}">
                        <img ng-show="vm.selected.thumb_url" width="100%" src="{{vm.selected.thumb_url}}" alt="Image Alternative text"
                             title="Image Title"/>
                        <img ng-show="vm.selected.thumb_url == undefined" width="100%" src="http://placehold.it/500x500" alt="">
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="_box-highlight">
                <!--<ul class="product-page-product-rating">-->
                <!--<li class="rated"><i class="fa fa-star"></i>-->
                <!--</li>-->
                <!--<li class="rated"><i class="fa fa-star"></i>-->
                <!--</li>-->
                <!--<li class="rated"><i class="fa fa-star"></i>-->
                <!--</li>-->
                <!--<li class="rated"><i class="fa fa-star"></i>-->
                <!--</li>-->
                <!--<li class="rated"><i class="fa fa-star"></i>-->
                <!--</li>-->
                <!--</ul>-->
                <!--<p class="product-page-product-rating-sign"><a href="#">238 customer reviews</a>-->
                <!--</p>-->
                <br>
                <h1>{{vm.selected.title}}</h1>
                <p class="product-page-price">${{vm.selected.unit_selling_cost}}</p>
                <!--<p class="text-muted text-sm">Free Shipping</p>-->
                <p class="product-page-desc-lg">{{vm.selected.long_description}}</p>
                <br>
                <ul class="product-page-actions-list">
                    <li class="product-page-qty-item">
                        <button ng-click="vm.subQty()" class="product-page-qty product-page-qty-minus">-</button>
                        <input ng-model="vm.qty" class="product-page-qty product-page-qty-input" type="text" />
                        <button ng-click="vm.plusQty()" class="product-page-qty product-page-qty-plus">+</button>
                    </li>
                    <li><a ng-click="vm.addToCart(item=vm.selected, qty=vm.qty)" class="btn btn-lg btn-primary" href=""><i
                            class="fa fa-shopping-cart"></i>Add to Cart</a>
                    </li>
                    <li><a ng-click="vm.addToWishlist(item=vm.selected, qty=vm.qty)" class="btn btn-lg btn-default" href=""><i
                            class="fa fa-star"></i>Wishlist</a>
                    </li>
                </ul>
                <div class="gap gap-small"></div>
            </div>
        </div>
    </div>
    <div class="gap"></div>
    <div class="tabbable product-tabs">
        <ul class="nav nav-tabs" id="myTab">
            <li class="active"><a href="" data-target="#tab-1" data-toggle="tab">Description</a>
            </li>
            <li><a href="" data-target="#tab-2" data-toggle="tab">Additional Information</a>
            </li>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane fade in active" id="tab-1">
                <p>{{vm.selected.long_description}}</p>
            </div>
            <div class="tab-pane fade" id="tab-2">
                <table class="table">
                    <tbody>
                    <tr>
                        <td>Short Description:</td>
                        <td>{{vm.selected.short_description}}</td>
                    </tr>
                    <tr>
                        <td>SKU:</td>
                        <td>{{vm.selected.sku}}</td>
                    </tr>
                    <tr>
                        <td>Stock On Hand:</td>
                        <td>{{vm.selected.stock_on_hand}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="gap"></div>
    <h3 class="widget-title">You Might Also Like</h3>
    <div class="row">
        <div class="col-md-4" ng-repeat="product in vm.products">
            <single-product></single-product>
            <br>
        </div>
    </div>
</div>
<div class="gap"></div>
