<div class="container">
    <header class="page-header">
        <h1 class="page-title">Profile</h1>
        <ol class="breadcrumb page-breadcrumb">
            <li><a href="#">Home</a>
            </li>
            <li><a href="#">Profile</a>
            </li>
            <!--<li class="active">Woman</li>-->
        </ol>
    </header>
    <div class="row">
        <table class="table table-striped table-bordered">
            <tbody>
            <tr>
                <th>Name</th>
                <td>-</td>
            </tr>
            <tr>
                <th>Email address</th>
                <td>roselle@gmail.com</td>
            </tr>


            <tr>
                <th>Date registered</th>
                <td>13 Mar 2016, 1:38 a.m.</td>
            </tr>
            </tbody>
        </table>
        <br>
        <a href="/accounts/change-password/" class="btn btn-primary">Change password</a>
        <a href="/accounts/profile/edit/" class="btn btn-primary">Edit profile</a>
        <a id="delete_profile" href="/accounts/profile/delete/" class="btn btn-danger">Delete profile</a>
    </div>
</div>
<div class="gap"></div>
