<!-- <div class="gap"></div>
<div class="gap"></div> -->
<div class="container" style="padding: 50px 0;">
    <div class="row">
        <div class="col-md-6">
            <img src="static/img/backgrounds/banner.jpg" width="100%" alt="">
        </div>
        <div class="col-md-6" style="color: #1aa254">
            <h3>Create Account</h3>
            <p>Ready to get best offers? Let's get started!</p>
            <hr />
            <form>
                <div class="form-group">
                    <label>Email</label>
                    <input class="form-control" type="text" />
                </div>
                <div class="form-group">
                    <label>Password</label>
                    <input class="form-control" type="text" />
                </div>
                <div class="form-group">
                    <label>Repeat Password</label>
                    <input class="form-control" type="text" />
                </div>
                <div class="form-group">
                    <label>Phone Number</label>
                    <input class="form-control" type="text" />
                </div>
                <input class="btn btn-success" type="submit" value="Create Account" />
            </form>
            <div class="gap gap-small"></div>
            <ul class="list-inline">
                <li><a href="" ui-sref="shop.login" class="popup-text">Already Member</a>
                </li>
            </ul>
        </div>
    </div>
</div>
