<div class="container">
    <header class="page-header">
        <h1 class="page-title">Wish Lists</h1>
        <ol class="breadcrumb page-breadcrumb">
            <li><a href="#">Home</a>
            </li>
            <li><a href="#">Wish List</a>
            </li>
        </ol>
    </header>
    <div class="row">
        <div class="col-md-12">
            <p ng-show="vm.wishlist.length == 0">No items in wishlist :( Back to <a href="" ui-sref="shop.catalogue">Catalogue</a>.</p>
            <table class="table table table-shopping-cart" ng-show="vm.wishlist.length > 0">
                <thead>
                <tr>
                    <th>Product</th>
                    <th>Title</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Total</th>
                    <th>Remove</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="product in vm.wishlist">
                    <td class="table-shopping-wishlist-img">
                        <a href="#">
                            <img src="{{ product.product.thumb_url }}" width="200px" alt="{{ product.product.title }}" title="{{ product.product.title }}"/>
                        </a>
                    </td>
                    <td class="table-shopping-wishlist-title"><a ui-sref="shop.productDetail({id: product.product_id})" href="">{{ product.product.title }}</a>
                    </td>
                    <td>{{ product.product.unit_selling_cost | currency:"PHP"}}</td>
                    <td>
                        <input class="form-control table-shopping-qty" type="text" value="{{ product.qty }}"/>
                    </td>
                    <td>{{ product.qty * product.product.unit_selling_cost | currency: "PHP"}}</td>
                    <td>
                        <a ng-click="vm.removeWishlistItem(product)" class="fa fa-close table-shopping-remove" href=""></a>
                    </td>
                </tr>
                </tbody>
            </table>
            <div class="gap gap-small"></div>
        </div>
    </div>
</div>
<div class="gap"></div>




