<!--<div class="product product-sm-left ">
    <ul class="product-labels"></ul>
    <a class="product-link" ui-sref="shop.productDetail({id: product.product_id})"></a>
    <div class="product-img-wrap">
        <img class="product-img" src="{{ product.thumb_url}}" alt="{{ product.title }}"
             title="{{ product.title }}"/>
    </div>
    <a class="product-link"  ui-sref="shop.productDetail({id: product.product_id})"></a>
    <div class="product-caption">
        <ul class="product-caption-rating">

        </ul>
        <h1 class="product-caption-title">{{ product.title }}</h1>
        <p>Imperdiet fusce viverra mollis.</p>
        <div class="product-caption-price"><span
                class="product-caption-price-new">${{ product.unit_selling_cost }}</span>
        </div>
    </div>
</div>-->

<div class="product ">
    <ul class="product-labels" ng-if="product.is_featured">
        <li>Featured</li>
    </ul>
    <div class="product-img-wrap">
        <div ng-show="product.thumb_url">
            <img class="product-img-primary" src="{{product.thumb_url}}" alt="Image Alternative text"
                 title="Image Title"/>
            <img class="product-img-alt" src="{{product.thumb_url}}" alt="Image Alternative text" title="Image Title"/>
        </div>
        <div ng-show="product.thumb_url == undefined || product.thumb_url == null">
            <img class="product-img-primary" src="http://placehold.it/300x300" alt="Image Alternative text"
            <img class="product-img-alt" src="http://placehold.it/300x300" alt="Image Alternative text"
             title="Image Title"/>
        </div>

    </div>
    <a ng-click="vm.selectItem(product)" class="product-link" href="#/shop/product/{{product.product_id}}"></a>
    <div class="product-caption">
        <h5 class="product-caption-title">{{product.title}}</h5>
        <div class="product-caption-price"><span class="product-caption-price-new">{{product.unit_selling_cost | currency : "PHP"}}</span>
        </div>
        <ul class="product-caption-feature-list">
            <li>Free Shipping</li>
        </ul>
    </div>
</div>