<div class="global-wrapper clearfix" id="global-wrapper">

    <div class="navbar-before mobile-hidden">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <p class="navbar-before-sign"></p>
                </div>
                <div class="col-md-6">
                    <ul class="nav navbar-nav navbar-right navbar-right-no-mar">
                        <li ng-show="vm.isLoggedIn"><a ui-sref="shop.profile">Account</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <nav class="navbar navbar-inverse navbar-main yamm">
        <div class="container">
            <div class="navbar-header">
                <button class="navbar-toggle collapsed" type="button" data-toggle="collapse"
                        data-target="#main-nav-collapse" area_expanded="false"><span
                        class="sr-only">Main Menu</span><span class="icon-bar"></span><span
                        class="icon-bar"></span><span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" ui-sref="shop.home" style="padding:14px;">
                    AgriSenso
                </a>
            </div>
            <div class="collapse navbar-collapse" id="main-nav-collapse">
                <ul class="nav navbar-nav">
                    <!-- <li><a ui-sref="shop.home">AgriSenso</a></li> -->
                    <li><a ui-sref="shop.catalogue">Catalogue</a></li>
                    <li class="dropdown"><a href="#"><i class="fa fa-reorder"></i>&nbsp; Shop by Category<i
                            class="drop-caret" data-toggle="dropdown"></i></a>
                        <ul class="dropdown-menu dropdown-menu-category">
                            <li ng-repeat="category in vm.categories">
                                <a ui-sref="shop.category({id: category.product_category_id})">{{ category.name }}</a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a ui-sref="shop.login" data-effect="mfp-move-from-top" class="popup-text">Sign In</a>
                    </li>
                    <li><a ui-sref="shop.register" data-effect="mfp-move-from-top" class="popup-text">Create Account</a>
                    </li>
                    <li class="dropdown">
                        <a class="fa fa-shopping-cart" ui-sref="shop.cart"></a>
                        <ul class="dropdown-menu dropdown-menu-shipping-cart">
                            <li ng-repeat="product in vm.cart track by $index" ng-show="vm.cart.length > 0">
                                <a class="dropdown-menu-shipping-cart-img" ui-sref="shop.productDetail(item.item_id)">
                                    <img ng-src="{{ product.product.thumb_url }}" alt="{{ product.product.title }}"
                                         title="{{ product.product.title }}"/>
                                </a>
                                <div class="dropdown-menu-shipping-cart-inner">
                                    <p class="dropdown-menu-shipping-cart-price">${{ product.product.unit_selling_cost }}</p>
                                    <p class="dropdown-menu-shipping-cart-item"><a href="#">{{ product.product.title }}</a>
                                    </p>
                                </div>
                            </li>
                            <li ng-show="vm.cart.length > 0">
                                <!--<p class="dropdown-menu-shipping-cart-total">Total: ${{ cart.total }}</p>-->
                                <a ui-sref="shop.checkout">
                                    <button class="dropdown-menu-shipping-cart-checkout btn btn-primary btn-block">Checkout
                                    </button>
                                </a>
                            </li>
                            <li ng-show="vm.cart.length == 0">
                                <h5 class="text-center">No items in cart.</h5>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <toaster-container></toaster-container>
    <div ui-view></div>

    <div class="copyright-area">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <p class="copyright-text">Copyright &copy; <a href="#">AgriSenso</a> 2017. All rights reseved</p>
                </div>
                <div class="col-md-4"></div>
                <div class="col-md-2 copyright-text">
                    <a href="http://localhost:8080" target="_blank">Be a Seller at AgriSenso</a>
                    <br></br>
                    <p>Contact Us at agrisensocare@gmail.com</p>
                    <!-- <a href="http://seller-thestore.rhcloud.com/#/login" target="_blank">Sell on AgriSenso</a> -->
                </div>
            </div>
        </div>
    </div>
</div>
